.boton-regresar {
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 1vh 2vw;
    border: none;
}

.boton-regresar:hover {
    background-color: rgb(43, 42, 42);
    cursor: pointer;
}

.boton-vaciar {
    border: none;
    background-color: rgb(199, 38, 38);
    padding: 1.5vh 3vw;
    color: white;
    text-transform: uppercase;
    margin-right: 1vw;
}

.boton-vaciar:hover {
    background-color: brown;
    cursor: pointer;
}

.button-container {
    display: flex;
    justify-content: center;
}

.boton-terminar {
    margin-left: 1vw;
    padding: 1.5vh 3vw;
    border: none;
    background-color: rgb(10, 173, 10);
    text-transform: uppercase;
}

.boton-terminar:hover {
    background-color: green;
    cursor: pointer;
}